- title "Notifications"

- content_for :top do
  %form{:id => "readall_form", :action =>'/readall', :method => "POST"}
    %input#readall-button.button{:type => "submit", :value => "Mark all as Read"}

-# Generate page id from url
%ul.notifications
  = @notifications.count
  -@notifications.each do |notification|
    != haml :"notifications/_notification", :locals => {:notification =>  notification}

%nav.pagination
  - unless @prev_page.nil?
    %a.button{:href => @prev_page, :id => "prev_button"}
      &laquo; Previous

  - unless @next_page.nil?
    %a.button{:href => @next_page, :id => "next_button"}
      Next &raquo;
