
.notification{:class => notification.read ? "read" : "unread" }
  != haml :"notifications/_#{notification._type.underscore}", :locals => {:notification =>  notification}
  .entry-info
    %time.published{:datetime => notification.created_at.iso8601}
    = notification.created_at.ago_in_words
